// In this file you can override the default variables of Bootstrap
// Do you want primary to be green? Just add "$primary: #00FF00;" to this file and the theme will automatically compile the scss for you.
$primary: rgb(88, 15, 43);
$light: rgb(223, 209, 193);
$dark: rgb(44, 8, 22);
$danger: rgb(173, 29, 85);
$success: rgb(15, 88, 60);
$info: rgb(15, 43, 88);
