/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass
body {
    padding-top: 60px;
}

.navbar-brand > img {
    height: 32px;
    width: auto;
}

.hero-slideshow-wrapper {
    height: calc(100vh - 60px);
}

.to-content {
    bottom: 15%;
    left: 0;
    right: 0;
}

.to-content-head {
    width: 100%;
}

@include media-breakpoint-up(md) {
    body {
        padding-top: 66px;
    }    
    .navbar-brand > img {
        height: 40px;
    }

    .hero-slideshow-wrapper {
        height: calc(100vh - 66px);
    }
    .to-content {
        right: auto;
    }
}

.hero-slideshow-bg {
    object-position: center;
    object-fit: cover;
    height: 100%;
    max-height: 100%;
    width: 100%;
}

.montorwine-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}
   
.montorwine-desc {
    text-align: center;
}
   
@include media-breakpoint-up(sm) {
    .montorwine-info {
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
    }
   
    .montorwine-pic {
        max-width: 400px;
        margin: 0;
        padding: 1rem;
    }
   
    .montorwine-desc {
        text-align: left;
    }
}