$primary: #580f2b;
$secondary: #841741;
$light: #dfd1c2;
$dark: #2c0816;
$danger: #ad1d55;
$success: #0f583c;
$info: #0f2b58;

$line-height-base: 1.75;
$line-height-sm: 1.5;
$line-height-lg: 2.25;

$font-weight-normal: 300;
$font-weight-bolder: 700;

$headings-font-weight: 700;