/*!
 * bootScore custom styles
 */

// Add your own code here!
// Because this file is compiled after Bootstrap, you're also able to use Bootstrap mixins for better code.
// Some examples can be found here: https://bootscore.me/documentation/bootstrap-css-sass
body {
    padding-top: 60px;
}

.navbar-brand > img {
    height: 32px;
    width: auto;
}

@include media-breakpoint-up(md) {
    body {
        padding-top: 66px
    }

    .navbar-brand > img {
        height: 40px;
    }
}

.hero-slideshow-wrapper {
    height: 75vh;
}

.hero-slideshow-bg {
    object-position: center;
    object-fit: cover;
    max-height: 100%;
    width: 100%;
}

.to-content {
    left: 0;
    bottom: 0;
}